App_WebReferences/com/hintsmeeting/subscribe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Insert_Application">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PubTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Journal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PrimaryAuthor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AllAuthors" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AuthorEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PublishMonth" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PublishYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bytes_FileData" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="ContentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CreationDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert_ApplicationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Insert_ApplicationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeToNciHintsUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objemail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeToNciHintsUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubscribeToNciHintsUsersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UNSubscribeToNciHintsUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objemail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UNSubscribeToNciHintsUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UNSubscribeToNciHintsUsersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeToSBIR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objemail" />
            <s:element minOccurs="0" maxOccurs="1" name="objFullName" />
            <s:element minOccurs="0" maxOccurs="1" name="objState" />
            <s:element minOccurs="0" maxOccurs="1" name="objAwardedBefore" />
            <s:element minOccurs="0" maxOccurs="1" name="objOrganizationType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeToSBIRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubscribeToSBIRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UNSubscribeToSBIR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objemail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UNSubscribeToSBIRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UNSubscribeToSBIRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeTo_SmokeFree">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objemail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeTo_SmokeFreeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubscribeTo_SmokeFreeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeTo_SmokeFree_StringOnly">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objemail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeTo_SmokeFree_StringOnlyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubscribeTo_SmokeFree_StringOnlyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UNSubscribeTo_SmokeFree">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objemail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UNSubscribeTo_SmokeFreeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UNSubscribeTo_SmokeFreeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UNSubscribeTo_SmokeFree_StringOnly">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objemail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UNSubscribeTo_SmokeFree_StringOnlyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UNSubscribeTo_SmokeFree_StringOnlyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeTo_BRP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objemail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeTo_BRPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubscribeTo_BRPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UNSubscribeTo_BRP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objemail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UNSubscribeTo_BRPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UNSubscribeTo_BRPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeTo_FLASHE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objemail" />
            <s:element minOccurs="0" maxOccurs="1" name="objContactName" />
            <s:element minOccurs="0" maxOccurs="1" name="objFormName" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeTo_FLASHEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubscribeTo_FLASHEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UNSubscribeTo_FLASHE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objemail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UNSubscribeTo_FLASHEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UNSubscribeTo_FLASHEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeTo_cancercontrolplanet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objemail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeTo_cancercontrolplanetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubscribeTo_cancercontrolplanetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UNSubscribeTo_cancercontrolplanet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objemail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UNSubscribeTo_cancercontrolplanetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UNSubscribeTo_cancercontrolplanetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeTo_trec">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objemail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeTo_trecResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubscribeTo_trecResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UNSubscribeTo_trec">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objemail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UNSubscribeTo_trecResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UNSubscribeTo_trecResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsdltest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stremail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsdltestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsdltestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeTo_nci_implementationscience">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objemail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeTo_nci_implementationscienceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubscribeTo_nci_implementationscienceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UNSubscribeTo_nci_implementationscience">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objemail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UNSubscribeTo_nci_implementationscienceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UNSubscribeTo_nci_implementationscienceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeTo_TUSCPS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objemail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeTo_TUSCPSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubscribeTo_TUSCPSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UNSubscribeTo_TUSCPS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objemail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UNSubscribeTo_TUSCPSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UNSubscribeTo_TUSCPSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeTo_RWBSandBox2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objemail" />
            <s:element minOccurs="1" maxOccurs="1" name="BLNSend_Welcome" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeTo_RWBSandBox2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubscribeTo_RWBSandBox2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UNSubscribeTo_RWBSandBox2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objemail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UNSubscribeTo_RWBSandBox2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UNSubscribeTo_RWBSandBox2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Insert_ApplicationSoapIn">
    <wsdl:part name="parameters" element="tns:Insert_Application" />
  </wsdl:message>
  <wsdl:message name="Insert_ApplicationSoapOut">
    <wsdl:part name="parameters" element="tns:Insert_ApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="SubscribeToNciHintsUsersSoapIn">
    <wsdl:part name="parameters" element="tns:SubscribeToNciHintsUsers" />
  </wsdl:message>
  <wsdl:message name="SubscribeToNciHintsUsersSoapOut">
    <wsdl:part name="parameters" element="tns:SubscribeToNciHintsUsersResponse" />
  </wsdl:message>
  <wsdl:message name="UNSubscribeToNciHintsUsersSoapIn">
    <wsdl:part name="parameters" element="tns:UNSubscribeToNciHintsUsers" />
  </wsdl:message>
  <wsdl:message name="UNSubscribeToNciHintsUsersSoapOut">
    <wsdl:part name="parameters" element="tns:UNSubscribeToNciHintsUsersResponse" />
  </wsdl:message>
  <wsdl:message name="SubscribeToSBIRSoapIn">
    <wsdl:part name="parameters" element="tns:SubscribeToSBIR" />
  </wsdl:message>
  <wsdl:message name="SubscribeToSBIRSoapOut">
    <wsdl:part name="parameters" element="tns:SubscribeToSBIRResponse" />
  </wsdl:message>
  <wsdl:message name="UNSubscribeToSBIRSoapIn">
    <wsdl:part name="parameters" element="tns:UNSubscribeToSBIR" />
  </wsdl:message>
  <wsdl:message name="UNSubscribeToSBIRSoapOut">
    <wsdl:part name="parameters" element="tns:UNSubscribeToSBIRResponse" />
  </wsdl:message>
  <wsdl:message name="SubscribeTo_SmokeFreeSoapIn">
    <wsdl:part name="parameters" element="tns:SubscribeTo_SmokeFree" />
  </wsdl:message>
  <wsdl:message name="SubscribeTo_SmokeFreeSoapOut">
    <wsdl:part name="parameters" element="tns:SubscribeTo_SmokeFreeResponse" />
  </wsdl:message>
  <wsdl:message name="SubscribeTo_SmokeFree_StringOnlySoapIn">
    <wsdl:part name="parameters" element="tns:SubscribeTo_SmokeFree_StringOnly" />
  </wsdl:message>
  <wsdl:message name="SubscribeTo_SmokeFree_StringOnlySoapOut">
    <wsdl:part name="parameters" element="tns:SubscribeTo_SmokeFree_StringOnlyResponse" />
  </wsdl:message>
  <wsdl:message name="UNSubscribeTo_SmokeFreeSoapIn">
    <wsdl:part name="parameters" element="tns:UNSubscribeTo_SmokeFree" />
  </wsdl:message>
  <wsdl:message name="UNSubscribeTo_SmokeFreeSoapOut">
    <wsdl:part name="parameters" element="tns:UNSubscribeTo_SmokeFreeResponse" />
  </wsdl:message>
  <wsdl:message name="UNSubscribeTo_SmokeFree_StringOnlySoapIn">
    <wsdl:part name="parameters" element="tns:UNSubscribeTo_SmokeFree_StringOnly" />
  </wsdl:message>
  <wsdl:message name="UNSubscribeTo_SmokeFree_StringOnlySoapOut">
    <wsdl:part name="parameters" element="tns:UNSubscribeTo_SmokeFree_StringOnlyResponse" />
  </wsdl:message>
  <wsdl:message name="SubscribeTo_BRPSoapIn">
    <wsdl:part name="parameters" element="tns:SubscribeTo_BRP" />
  </wsdl:message>
  <wsdl:message name="SubscribeTo_BRPSoapOut">
    <wsdl:part name="parameters" element="tns:SubscribeTo_BRPResponse" />
  </wsdl:message>
  <wsdl:message name="UNSubscribeTo_BRPSoapIn">
    <wsdl:part name="parameters" element="tns:UNSubscribeTo_BRP" />
  </wsdl:message>
  <wsdl:message name="UNSubscribeTo_BRPSoapOut">
    <wsdl:part name="parameters" element="tns:UNSubscribeTo_BRPResponse" />
  </wsdl:message>
  <wsdl:message name="SubscribeTo_FLASHESoapIn">
    <wsdl:part name="parameters" element="tns:SubscribeTo_FLASHE" />
  </wsdl:message>
  <wsdl:message name="SubscribeTo_FLASHESoapOut">
    <wsdl:part name="parameters" element="tns:SubscribeTo_FLASHEResponse" />
  </wsdl:message>
  <wsdl:message name="UNSubscribeTo_FLASHESoapIn">
    <wsdl:part name="parameters" element="tns:UNSubscribeTo_FLASHE" />
  </wsdl:message>
  <wsdl:message name="UNSubscribeTo_FLASHESoapOut">
    <wsdl:part name="parameters" element="tns:UNSubscribeTo_FLASHEResponse" />
  </wsdl:message>
  <wsdl:message name="SubscribeTo_cancercontrolplanetSoapIn">
    <wsdl:part name="parameters" element="tns:SubscribeTo_cancercontrolplanet" />
  </wsdl:message>
  <wsdl:message name="SubscribeTo_cancercontrolplanetSoapOut">
    <wsdl:part name="parameters" element="tns:SubscribeTo_cancercontrolplanetResponse" />
  </wsdl:message>
  <wsdl:message name="UNSubscribeTo_cancercontrolplanetSoapIn">
    <wsdl:part name="parameters" element="tns:UNSubscribeTo_cancercontrolplanet" />
  </wsdl:message>
  <wsdl:message name="UNSubscribeTo_cancercontrolplanetSoapOut">
    <wsdl:part name="parameters" element="tns:UNSubscribeTo_cancercontrolplanetResponse" />
  </wsdl:message>
  <wsdl:message name="SubscribeTo_trecSoapIn">
    <wsdl:part name="parameters" element="tns:SubscribeTo_trec" />
  </wsdl:message>
  <wsdl:message name="SubscribeTo_trecSoapOut">
    <wsdl:part name="parameters" element="tns:SubscribeTo_trecResponse" />
  </wsdl:message>
  <wsdl:message name="UNSubscribeTo_trecSoapIn">
    <wsdl:part name="parameters" element="tns:UNSubscribeTo_trec" />
  </wsdl:message>
  <wsdl:message name="UNSubscribeTo_trecSoapOut">
    <wsdl:part name="parameters" element="tns:UNSubscribeTo_trecResponse" />
  </wsdl:message>
  <wsdl:message name="wsdltestSoapIn">
    <wsdl:part name="parameters" element="tns:wsdltest" />
  </wsdl:message>
  <wsdl:message name="wsdltestSoapOut">
    <wsdl:part name="parameters" element="tns:wsdltestResponse" />
  </wsdl:message>
  <wsdl:message name="SubscribeTo_nci_implementationscienceSoapIn">
    <wsdl:part name="parameters" element="tns:SubscribeTo_nci_implementationscience" />
  </wsdl:message>
  <wsdl:message name="SubscribeTo_nci_implementationscienceSoapOut">
    <wsdl:part name="parameters" element="tns:SubscribeTo_nci_implementationscienceResponse" />
  </wsdl:message>
  <wsdl:message name="UNSubscribeTo_nci_implementationscienceSoapIn">
    <wsdl:part name="parameters" element="tns:UNSubscribeTo_nci_implementationscience" />
  </wsdl:message>
  <wsdl:message name="UNSubscribeTo_nci_implementationscienceSoapOut">
    <wsdl:part name="parameters" element="tns:UNSubscribeTo_nci_implementationscienceResponse" />
  </wsdl:message>
  <wsdl:message name="SubscribeTo_TUSCPSSoapIn">
    <wsdl:part name="parameters" element="tns:SubscribeTo_TUSCPS" />
  </wsdl:message>
  <wsdl:message name="SubscribeTo_TUSCPSSoapOut">
    <wsdl:part name="parameters" element="tns:SubscribeTo_TUSCPSResponse" />
  </wsdl:message>
  <wsdl:message name="UNSubscribeTo_TUSCPSSoapIn">
    <wsdl:part name="parameters" element="tns:UNSubscribeTo_TUSCPS" />
  </wsdl:message>
  <wsdl:message name="UNSubscribeTo_TUSCPSSoapOut">
    <wsdl:part name="parameters" element="tns:UNSubscribeTo_TUSCPSResponse" />
  </wsdl:message>
  <wsdl:message name="SubscribeTo_RWBSandBox2SoapIn">
    <wsdl:part name="parameters" element="tns:SubscribeTo_RWBSandBox2" />
  </wsdl:message>
  <wsdl:message name="SubscribeTo_RWBSandBox2SoapOut">
    <wsdl:part name="parameters" element="tns:SubscribeTo_RWBSandBox2Response" />
  </wsdl:message>
  <wsdl:message name="UNSubscribeTo_RWBSandBox2SoapIn">
    <wsdl:part name="parameters" element="tns:UNSubscribeTo_RWBSandBox2" />
  </wsdl:message>
  <wsdl:message name="UNSubscribeTo_RWBSandBox2SoapOut">
    <wsdl:part name="parameters" element="tns:UNSubscribeTo_RWBSandBox2Response" />
  </wsdl:message>
  <wsdl:portType name="SubscribeSoap">
    <wsdl:operation name="Insert_Application">
      <wsdl:input message="tns:Insert_ApplicationSoapIn" />
      <wsdl:output message="tns:Insert_ApplicationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeToNciHintsUsers">
      <wsdl:input message="tns:SubscribeToNciHintsUsersSoapIn" />
      <wsdl:output message="tns:SubscribeToNciHintsUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeToNciHintsUsers">
      <wsdl:input message="tns:UNSubscribeToNciHintsUsersSoapIn" />
      <wsdl:output message="tns:UNSubscribeToNciHintsUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeToSBIR">
      <wsdl:input message="tns:SubscribeToSBIRSoapIn" />
      <wsdl:output message="tns:SubscribeToSBIRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeToSBIR">
      <wsdl:input message="tns:UNSubscribeToSBIRSoapIn" />
      <wsdl:output message="tns:UNSubscribeToSBIRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_SmokeFree">
      <wsdl:input message="tns:SubscribeTo_SmokeFreeSoapIn" />
      <wsdl:output message="tns:SubscribeTo_SmokeFreeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_SmokeFree_StringOnly">
      <wsdl:input message="tns:SubscribeTo_SmokeFree_StringOnlySoapIn" />
      <wsdl:output message="tns:SubscribeTo_SmokeFree_StringOnlySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_SmokeFree">
      <wsdl:input message="tns:UNSubscribeTo_SmokeFreeSoapIn" />
      <wsdl:output message="tns:UNSubscribeTo_SmokeFreeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_SmokeFree_StringOnly">
      <wsdl:input message="tns:UNSubscribeTo_SmokeFree_StringOnlySoapIn" />
      <wsdl:output message="tns:UNSubscribeTo_SmokeFree_StringOnlySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_BRP">
      <wsdl:input message="tns:SubscribeTo_BRPSoapIn" />
      <wsdl:output message="tns:SubscribeTo_BRPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_BRP">
      <wsdl:input message="tns:UNSubscribeTo_BRPSoapIn" />
      <wsdl:output message="tns:UNSubscribeTo_BRPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_FLASHE">
      <wsdl:input message="tns:SubscribeTo_FLASHESoapIn" />
      <wsdl:output message="tns:SubscribeTo_FLASHESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_FLASHE">
      <wsdl:input message="tns:UNSubscribeTo_FLASHESoapIn" />
      <wsdl:output message="tns:UNSubscribeTo_FLASHESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_cancercontrolplanet">
      <wsdl:input message="tns:SubscribeTo_cancercontrolplanetSoapIn" />
      <wsdl:output message="tns:SubscribeTo_cancercontrolplanetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_cancercontrolplanet">
      <wsdl:input message="tns:UNSubscribeTo_cancercontrolplanetSoapIn" />
      <wsdl:output message="tns:UNSubscribeTo_cancercontrolplanetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_trec">
      <wsdl:input message="tns:SubscribeTo_trecSoapIn" />
      <wsdl:output message="tns:SubscribeTo_trecSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_trec">
      <wsdl:input message="tns:UNSubscribeTo_trecSoapIn" />
      <wsdl:output message="tns:UNSubscribeTo_trecSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wsdltest">
      <wsdl:input message="tns:wsdltestSoapIn" />
      <wsdl:output message="tns:wsdltestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_nci_implementationscience">
      <wsdl:input message="tns:SubscribeTo_nci_implementationscienceSoapIn" />
      <wsdl:output message="tns:SubscribeTo_nci_implementationscienceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_nci_implementationscience">
      <wsdl:input message="tns:UNSubscribeTo_nci_implementationscienceSoapIn" />
      <wsdl:output message="tns:UNSubscribeTo_nci_implementationscienceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_TUSCPS">
      <wsdl:input message="tns:SubscribeTo_TUSCPSSoapIn" />
      <wsdl:output message="tns:SubscribeTo_TUSCPSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_TUSCPS">
      <wsdl:input message="tns:UNSubscribeTo_TUSCPSSoapIn" />
      <wsdl:output message="tns:UNSubscribeTo_TUSCPSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_RWBSandBox2">
      <wsdl:input message="tns:SubscribeTo_RWBSandBox2SoapIn" />
      <wsdl:output message="tns:SubscribeTo_RWBSandBox2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_RWBSandBox2">
      <wsdl:input message="tns:UNSubscribeTo_RWBSandBox2SoapIn" />
      <wsdl:output message="tns:UNSubscribeTo_RWBSandBox2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubscribeSoap" type="tns:SubscribeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert_Application">
      <soap:operation soapAction="http://tempuri.org/Insert_Application" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeToNciHintsUsers">
      <soap:operation soapAction="http://tempuri.org/SubscribeToNciHintsUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeToNciHintsUsers">
      <soap:operation soapAction="http://tempuri.org/UNSubscribeToNciHintsUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeToSBIR">
      <soap:operation soapAction="http://tempuri.org/SubscribeToSBIR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeToSBIR">
      <soap:operation soapAction="http://tempuri.org/UNSubscribeToSBIR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_SmokeFree">
      <soap:operation soapAction="http://tempuri.org/SubscribeTo_SmokeFree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_SmokeFree_StringOnly">
      <soap:operation soapAction="http://tempuri.org/SubscribeTo_SmokeFree_StringOnly" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_SmokeFree">
      <soap:operation soapAction="http://tempuri.org/UNSubscribeTo_SmokeFree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_SmokeFree_StringOnly">
      <soap:operation soapAction="http://tempuri.org/UNSubscribeTo_SmokeFree_StringOnly" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_BRP">
      <soap:operation soapAction="http://tempuri.org/SubscribeTo_BRP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_BRP">
      <soap:operation soapAction="http://tempuri.org/UNSubscribeTo_BRP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_FLASHE">
      <soap:operation soapAction="http://tempuri.org/SubscribeTo_FLASHE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_FLASHE">
      <soap:operation soapAction="http://tempuri.org/UNSubscribeTo_FLASHE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_cancercontrolplanet">
      <soap:operation soapAction="http://tempuri.org/SubscribeTo_cancercontrolplanet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_cancercontrolplanet">
      <soap:operation soapAction="http://tempuri.org/UNSubscribeTo_cancercontrolplanet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_trec">
      <soap:operation soapAction="http://tempuri.org/SubscribeTo_trec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_trec">
      <soap:operation soapAction="http://tempuri.org/UNSubscribeTo_trec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsdltest">
      <soap:operation soapAction="http://tempuri.org/wsdltest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_nci_implementationscience">
      <soap:operation soapAction="http://tempuri.org/SubscribeTo_nci_implementationscience" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_nci_implementationscience">
      <soap:operation soapAction="http://tempuri.org/UNSubscribeTo_nci_implementationscience" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_TUSCPS">
      <soap:operation soapAction="http://tempuri.org/SubscribeTo_TUSCPS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_TUSCPS">
      <soap:operation soapAction="http://tempuri.org/UNSubscribeTo_TUSCPS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_RWBSandBox2">
      <soap:operation soapAction="http://tempuri.org/SubscribeTo_RWBSandBox2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_RWBSandBox2">
      <soap:operation soapAction="http://tempuri.org/UNSubscribeTo_RWBSandBox2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubscribeSoap12" type="tns:SubscribeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert_Application">
      <soap12:operation soapAction="http://tempuri.org/Insert_Application" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeToNciHintsUsers">
      <soap12:operation soapAction="http://tempuri.org/SubscribeToNciHintsUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeToNciHintsUsers">
      <soap12:operation soapAction="http://tempuri.org/UNSubscribeToNciHintsUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeToSBIR">
      <soap12:operation soapAction="http://tempuri.org/SubscribeToSBIR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeToSBIR">
      <soap12:operation soapAction="http://tempuri.org/UNSubscribeToSBIR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_SmokeFree">
      <soap12:operation soapAction="http://tempuri.org/SubscribeTo_SmokeFree" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_SmokeFree_StringOnly">
      <soap12:operation soapAction="http://tempuri.org/SubscribeTo_SmokeFree_StringOnly" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_SmokeFree">
      <soap12:operation soapAction="http://tempuri.org/UNSubscribeTo_SmokeFree" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_SmokeFree_StringOnly">
      <soap12:operation soapAction="http://tempuri.org/UNSubscribeTo_SmokeFree_StringOnly" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_BRP">
      <soap12:operation soapAction="http://tempuri.org/SubscribeTo_BRP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_BRP">
      <soap12:operation soapAction="http://tempuri.org/UNSubscribeTo_BRP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_FLASHE">
      <soap12:operation soapAction="http://tempuri.org/SubscribeTo_FLASHE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_FLASHE">
      <soap12:operation soapAction="http://tempuri.org/UNSubscribeTo_FLASHE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_cancercontrolplanet">
      <soap12:operation soapAction="http://tempuri.org/SubscribeTo_cancercontrolplanet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_cancercontrolplanet">
      <soap12:operation soapAction="http://tempuri.org/UNSubscribeTo_cancercontrolplanet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_trec">
      <soap12:operation soapAction="http://tempuri.org/SubscribeTo_trec" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_trec">
      <soap12:operation soapAction="http://tempuri.org/UNSubscribeTo_trec" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsdltest">
      <soap12:operation soapAction="http://tempuri.org/wsdltest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_nci_implementationscience">
      <soap12:operation soapAction="http://tempuri.org/SubscribeTo_nci_implementationscience" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_nci_implementationscience">
      <soap12:operation soapAction="http://tempuri.org/UNSubscribeTo_nci_implementationscience" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_TUSCPS">
      <soap12:operation soapAction="http://tempuri.org/SubscribeTo_TUSCPS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_TUSCPS">
      <soap12:operation soapAction="http://tempuri.org/UNSubscribeTo_TUSCPS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeTo_RWBSandBox2">
      <soap12:operation soapAction="http://tempuri.org/SubscribeTo_RWBSandBox2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UNSubscribeTo_RWBSandBox2">
      <soap12:operation soapAction="http://tempuri.org/UNSubscribeTo_RWBSandBox2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Subscribe">
    <wsdl:port name="SubscribeSoap" binding="tns:SubscribeSoap">
      <soap:address location="https://hintsmeeting.com/ws/subscribe.asmx" />
    </wsdl:port>
    <wsdl:port name="SubscribeSoap12" binding="tns:SubscribeSoap12">
      <soap12:address location="https://hintsmeeting.com/ws/subscribe.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>